body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

nav {
    background-color: lightgrey;
    text-align: center;
    padding: 20px;
    margin: -10px;

}

#nav {
    background-color: #a5a5a5;
    margin: 5px;
    padding: 10px;
    border-radius: 7px;
    border: 1px rgb(165, 165, 165) solid;

}

#mail {
text-align: center;
}

#star {
    background-color: lightgrey;
    max-width: 330px;
    border-radius: 7px;
    padding: 10px;
    
}

svg {
    height: 60px;
}

#img {
    height: 240px;

}