.unterpunkte {
    width: 250px;
    height: 50px;
    text-align: left;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 11px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: white;
    border: 0ch;
    border-top: 0.5px solid black;
}

.firststep {
    width: 350px;
    height: 150px;
    text-align: left;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 11px;
    margin: 4px 2px;
    cursor: pointer;
    position: absolute;
    border: 0ch;
    border-top: 0.5px solid black;
    margin-left: 530px;
    margin-top: 200px;
}

.option {
    visibility: hidden;
}

.invis {
    display: none;
}

.produkte {
    border-color: 1px solid black;
    width: 470px;
    height: 100px;
    text-align: center;
    color: black;
    /* padding: 30px 30px; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
    line-height: 10px;
    background-color: white;
    max-width: 400px;
    background: linear-gradient(rgb(255, 255, 255), rgb(173, 173, 173));
    line-height: 20px;
}

.wrapper {
    display: flex;

}

.ausverkauft {
    opacity: 0.3;
    color: rgb(0, 0, 0);
    pointer-events: none;
}

.auswahl {
    border-color: 1px solid black;
    width: 470px;
    height: 100px;
    text-align: center;
    color: black;
    padding: 30px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
    line-height: 10px;
    background-color: #ffd97086;

}

#textfeld {
    width: 200px;
    height: 200px;
}

.unsichtbar {
    display: none !important;
}

/* .ad {} */

.warenkorb-liste {
    background-color: rgb(235, 235, 235);
    opacity: 0.7;

}

/* .warenkorb-liste li {}

#produktListe span {} */

#produktListe {
    width: 45%;
    position: absolute;
    right: 0;
    top: 5px;
    background-color: rgb(235, 235, 235);
    opacity: 0.7;
}

.bold {
    font-weight: bold !important;
}

.kursiv {
    font-style: italic !important;
}

#img {
    margin-left: 120px;
}

body {
    background:rgb(173, 173, 173);

}

.pr1 {
    background: linear-gradient(rgb(255, 255, 255), rgb(228, 228, 228));
}

.pr2 {
    background: linear-gradient(rgb(255, 255, 255), rgb(226, 195, 22));
}

.pr3 {
    background: linear-gradient(rgb(255, 94, 94), rgb(240, 11, 11));
}

.pr4 {
    background: linear-gradient(rgb(255, 255, 255), rgb(255, 94, 94));
}

.pr5 {
    background: linear-gradient(rgb(255, 183, 66), rgb(255, 166, 0));
}

.pr6 {
    background: linear-gradient(rgb(255, 242, 171), rgb(255, 247, 173));
}

.pr7 {
    background: linear-gradient(rgb(255, 226, 63), rgb(253, 71, 71));
}

.pr8 {
    background: linear-gradient(rgb(255, 226, 63), rgb(133, 103, 6));
}

.pr9 {
    background: linear-gradient(rgb(255, 255, 255), rgb(184, 0, 0));
}

.pr10 {
    background: linear-gradient(rgb(251, 173, 26), rgb(255, 205, 97));
}

.pr11 {
    background: linear-gradient(rgb(255, 166, 0), rgb(255, 0, 0));
}

.pr12 {
    background: linear-gradient(rgb(255, 255, 255),rgb(218, 218, 218));
}

.pr13 {
    background: linear-gradient(rgb(255, 255, 255),rgb(255, 218, 8));
}

#alc {
    color: red;
    font-weight: 800;
    background-color: black;
    padding: 2px;
}

.produkte2 {
    border-color: 1px solid black;
    width: 174px;
    height: 100px;
    text-align: center;
    color: rgb(255, 255, 255);
    /* padding: 30px 30px; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
    line-height: 10px;
    background-color: white;
    max-width: 400px;
    background: linear-gradient(rgb(82, 122, 255), rgb(0, 23, 97));
    line-height: 20px;
    font-weight: 900;
}

button {
    border-radius: 5px;
}

/* #liste {
    width: 15%;
    position: absolute;
    right:180px;
    background-color: grey;
    margin-left: 20px;
    position:fixed;
    z-index:999;
    top: 21px;
} */

.unterpunktered {
    width: 250px;
    height: 50px;
    text-align: left;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 11px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: rgb(220, 47, 47);
    border: 0ch;
    border-top: 0.5px solid black;
}

.unterpunktegreen {
    width: 250px;
    height: 50px;
    text-align: left;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 11px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: rgb(115, 255, 0);
    border: 0ch;
    border-top: 0.5px solid black;
}

